<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Info</title>
</head>
<body>
    <p><a href="/">Home</a></p>
    {#<!-- Jinjaaa ftw -->#}
        <h1>Project: {{row[0]}}</h1>
    <ul>
        <li>Description: {{row[1]}}</li>
        <li>Max Grade: {{row[2]}}</li>
    </ul>
    <ul>
    {% for github, grade in all_grades %}
    <li>Name: <a href="/student/{{ github }}" name="github">{{ github }}</a> Grade {{ grade }}</li>
    {% endfor %}
</ul>
    {# <!-- first part is just a description of the project-info --> #}
    {# <!-- second part lists people's grades on project --> #}
</body>
</html>