<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Info</title>
</head>
<body>
    <p><a href="/">Home</a></p>
    <h1>{{ first }} {{ last }}</h1>
    <p>GitHub Account: {{ github }}</p>
    <!-- <a href=""></a> -->
    <p>Project Grade</p>
    <ul>
    {% for title, max in rows %}
        <li>
            <a href="/project-info/{{ title }}" name="title">
            {{ title }}</a> 
            {{ max }}
        </li>
    {% endfor %}
    </ul>
</body>
</html>