<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Student</title>
</head>
<body>
    <form action="/student-add" method="POST">
        Add student information:
        <label>First:
            <input type="text" name="first">
        </label>
        <label>Last:
            <input type="text" name="last">
        </label>
        <label>GitHub Username:
            <input type="text" name="github">
        </label>
        <input type="submit" value="Display Student">
    </form>
</body>
</html>